@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none; }

/* @import "extends";
@import "mixins"; */
h2,
h3 {
  text-align: center;
  margin: 20px 5px 15px;
  text-transform: uppercase; }

header ul li, .menu_barra ul li, .menu_barra a {
  background-color: black;
  display: inline-block;
  margin: 15px 25px;
  text-decoration: none;
  color: white;
  text-transform: uppercase; }

header h1, header ul a {
  font-family: 'Rock Salt', cursive;
  font-size: 1em;
  color: white;
  text-decoration: none;
  text-transform: uppercase; }

/*
 * ────────────────────────────────────────────────────────────── I ──────────
 *   :::::: A N I M A C I O N E S : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────────
 */
@keyframes escalar {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

/*
 * ────────────────────────────────────────────────────────── I ──────────
 *   :::::: E L E M E N T O S : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────
 */
/*
 * ──────────────────────────────────────────────────────────── I ──────────
 *   :::::: N A V E G A C I O N : :  :   :    :     :        :          :
 * ──────────────────────────────────────────────────────────────────────
 */
header {
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  background-image: url("../img/estrella.jpg");
  background-color: black;
  background-size: 50%; }

header h1 {
  font-size: 2.5em;
  padding: 40px 0 0 30px;
  letter-spacing: 5px; }

header ul li {
  transition: all 0.5s; }

.escondite_menu {
  height: 50px;
  background-color: black;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 5; }

/*
 * ──────────────────────────────────────────────────────────────────── I ──────────
 *   :::::: M E N U   P R I N C I P A L : :  :   :    :     :        :          :
 * ──────────────────────────────────────────────────────────────────────────────
 */
.int a {
  position: absolute;
  left: 50%;
  top: 8%; }

.his a {
  position: absolute;
  left: 28%;
  top: 22%; }

.ev a {
  position: absolute;
  left: 28%;
  top: 72%; }

.you a {
  position: absolute;
  left: 50%;
  top: 88%; }

.con a {
  position: absolute;
  left: 69%;
  top: 48%; }

/*
 * ────────────────────────────────────────────────────────────────── I ──────────
 *   :::::: M E N U   F L O T A N T E : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────────────
 */
.menu_barra {
  background-color: black;
  position: sticky;
  top: 0;
  text-align: center;
  width: 100%;
  float: left;
  z-index: 2; }

.menu_barra ul li:hover {
  transform: scale(1.1);
  animation-name: escalar;
  animation-duration: 0.5s; }

.menu_barra a {
  margin: 0; }

/*
 * ────────────────────────────────────────────────────────────────────── I ──────────
 *   :::::: S E C C I O N   C E N T R A L : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────────────────
 */
#integrantes {
  padding-top: 40px; }

#integrantes img {
  width: 100%;
  border-radius: 50%;
  margin: 15px 1px; }

#integrantes ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: end; }

#integrantes ul li {
  line-height: 1.5rem;
  width: 22%;
  border: 2px gray solid;
  padding: 5px 10px;
  margin: 20px; }

/*
 * ──────────────────────────────────────────────────────── I ──────────
 *   :::::: H I S T O R I A : :  :   :    :     :        :          :
 * ──────────────────────────────────────────────────────────────────
 */
#historia {
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  background-image: url("https://i.ytimg.com/vi/UeeG74FDjBw/maxresdefault.jpg");
  background-color: black;
  color: white; }

.historia_texto {
  background-color: black;
  padding: 40px 15px; }

/*
 * ────────────────────────────────────────────────────── I ──────────
 *   :::::: E V E N T O S : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────
 */
#eventos {
  padding-top: 40px;
  margin: 5px; }

#eventos img {
  display: inline-block;
  width: 300px;
  margin: 5px; }

#eventos article,
#eventos ul {
  text-align: center;
  width: 48%;
  display: inline-block; }

#eventos ul li {
  background-color: #bebebe;
  margin: 30px 0px; }

/*
 * ──────────────────────────────────────────────────────────────────────── I ──────────
 *   :::::: S E C C I O N   I N F E R I O R : :  :   :    :     :        :          :
 * ──────────────────────────────────────────────────────────────────────────────────
 */
#contacto {
  padding-top: 5%;
  background-color: black;
  color: white;
  padding: 15px;
  margin: auto; }

#contacto form {
  margin: auto;
  width: 60%; }

input {
  height: 25px; }

fieldset input,
textarea {
  margin: 10px 15px; }

button {
  padding: 10px;
  display: block;
  margin: 10px; }

#contacto a {
  text-decoration: none;
  color: white; }

footer {
  background-color: black;
  text-align: right;
  padding-right: 15px;
  color: white; }
