* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}

@keyframes escalar {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.2)
    }
}

h2,
h3 {
    text-align: center;
    margin: 20px 5px 15px;
    text-transform: uppercase;
}


/* seccion superior */

header {
    background-color: black;
    background-image: url("../img/estrella.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    width: 100%;
}

header h1 {
    font-size: 50px;
    color: white;
    font-family: 'Rock Salt', cursive;
    margin-left: 30px;
}

header ul {
    list-style: none;
    width: 100%;
    text-align: center;
}

header ul li {
    display: inline-block;
    margin: 15px 15px;
    transition: all 0.5s;
}

header ul a {
    font-family: 'Rock Salt', cursive;
    font-size: 1em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}


/* menu estrella */

.int a {
    position: absolute;
    top: 8%;
    left: 50%;
}

.his a {
    position: absolute;
    top: 22%;
    left: 28%;
}

.ev a {
    position: absolute;
    top: 72%;
    left: 28%;
}

.you a {
    position: absolute;
    top: 88%;
    left: 50%;
}

.con a {
    position: absolute;
    top: 48%;
    left: 69%;
}


/* menu barra */

.escondite_menu {
    height: 50px;
    width: 100%;
    background-color: rgb(255, 0, 0);
    z-index: 2;
    position: absolute;
    bottom: 0;
}

.menu_1 {
    background-color: black;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
}

.menu_1 ul li {
    background-color: black;
    display: inline-block;
    margin: 15px 25px;
}

.menu_1 ul li:hover {
    transform: scale(1.1);
    animation-name: escalar;
    animation-duration: 0.3s;
}

.menu_1 a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


/* seccion central */


/* #integrantes {
    padding-top: 40px;
}

#integrantes img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 15px 1px;
}

#integrantes ul li {
    border-style: solid;
    border-width: 5px;
    list-style: none;
    width: 22%;
    display: inline-block;
    float: left;
    border: 2px gray;
    margin: 10px 10px 20px;
    padding: 5px;
}
 */

#historia {
    background-image: url("https://i.ytimg.com/vi/UeeG74FDjBw/maxresdefault.jpg");
    background-size: 100%;
    height: 100vh;
    clear: both;
    width: 100%;
    color: white;
}

.historia_texto {
    background-color: black;
    padding: 40px 15px;
}

#eventos {
    padding-top: 40px;
    /* border-style: dashed; */
    margin: 5px;
    height: 75vh;
}

#eventos img {
    display: inline-block;
    width: 300px;
    margin: 5px;
}

#eventos article,
#eventos ul {
    text-align: center;
    width: 48%;
    display: inline-block;
}

#eventos ul {
    border-right: 2px;
}

#eventos ul li {
    background-color: rgb(190, 190, 190);
    margin: 30px 0px;
}


/* seccion inferior */

#contacto {
    text-align: center;
    padding-top: 5%;
    background-color: black;
    color: white;
    /* height: 50vh; */
    padding: 15px;
}

#contacto form {
    margin-left: 35%;
    width: 30%;
}

input {
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    display: block;
    margin: 10px 45%;
}

#contacto a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: black;
    text-align: right;
    padding-right: 15px;
    color: white;
}